body{
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-size: normal;
    background-color: rgb(199, 247, 231);
}

.ToDoList h3{
    font-size: 40px;
    border-bottom: black solid 1px;
    margin-bottom: 3%;
    padding-bottom: 3%;
}

.Title {
    text-align: center;
    margin: 5% 0% 5% 0%;
}

.Title h1{
    font-size: 50px;
}

#Input{
    width: 75%;
    font-size: 20px;
}

#edit{
    background-color: rgb(141, 141, 251);
    color: rgb(219, 219, 219);
}

#done{
    background-color: rgb(6, 189, 6);
    color: rgb(219, 219, 219);
}

#delete{
    background-color: rgb(255, 46, 46);
    color: rgb(219, 219, 219);

}

.displayTask{
    background-color: aliceblue;
}

.displayTask ol li{
    font-size: 20px;
}

.displayTask ol li button{
    float: right;
    font-size: 70%;
    margin-top: 0%;
    margin-right: 1%;
    border: none;
}


.strikethrough {
    text-decoration: line-through;
}

@media (max-width: 991px){
   
    .displayTask{
        background-color: aliceblue;
        margin-top: 10%;
    }

}

@media (max-width : 320px){
    .displayTask ol li button{
        font-size: 40%;
        margin-top: 2%;
    }

    #Input{
        width: 50%;
    }
    
}

